body {
  margin: 0;
  padding: 0;
}

.logo{
  margin: 0;
  padding: 0;  
  background-color: black;
}

.links ul{
  background-color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;


}


.links li{
  display: inline-flex;
}

.links a {
text-decoration: none;
color: white;
padding: 10px 20px;
font-size: 20px;
text-transform: uppercase;
font-weight: bold;
text-align: center;
display: flex;
}

.links a:hover {
  background-color: rgb(79, 79, 79);
  border-radius: 10px;

}

li.nav-item{
  text-align: center;
}
