*{
  margin: 0;
  padding: 0;
}

header{
  background: black;
  display: inline-flex;
  width: 100%;
}

div.logo{
  display: flex;
}

header nav.menu-nav ul{
  display: flex;
  width: 60%;
  justify-content: center;
  position: absolute;
  margin-top: 30px;
}

.nav-item{
  text-align: center;
  list-style: none;
  text-transform: none;
  margin: 15px 20px;
}

li.nav-item a{
  text-decoration: none;
}
li.nav-item a:hover{
  background: gray;
  padding: 7px 15px;
  border-radius: 10px;
  transition-duration: 2s;
}